<div class="container">
    <h1 style="color: black; margin: 50px; text-align: left;">
        
        This is a simple multi-tier web application consisted from PostgreSQL database, backend that is written in Java Spring Boot and frontend that is written in Angular.

        <br>
        <br>

        Angular material takes all responsibility for application styling.

        <br>

    </h1>
    <h1 style="color: black; margin: 50px; text-align: left;">
        Database: <strong>PostgreSQL</strong>
        <br>
        Backend: <strong>Java Spring</strong>
        <br>
        Frontend: <strong>Angular</strong>
    </h1>
    <div style="text-align: center;">
        <img height="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png"/>
        <img height="300px" src="https://miro.medium.com/max/700/1*-uckV8DOh3l0bCvqZ73zYg.png"/>
        <img height="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"/>
    </div>
</div>